<%= header %>
<div class="content-block">
  <div style="width: 250px; margin: 20px auto; padding-top: 50px; text-align: center;">
    <p>チーム ISHALAN</p>
    <a href="https://twitter.com/natsumeg_k" style="color: rgb(162, 0, 0);">　夏目和樹</a>
    <a href="https://twitter.com/takahide_h" style="color: rgb(162, 0, 0);">　細川貴英</a>
    <a href="https://twitter.com/t_ishiyama" style="color: rgb(162, 0, 0);">　石山貴広</a>
  </div>
</div>
<%= footer %>
