<div class="panel-overlay"></div>

<div class="views">
  <div class="view view-main" style="background: #fff;">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left open-panel">
          <p class="link open-panel">　</p>
        </div>

        <div class="center sliding logo"><%= image_tag "ishalan.png", width: "160" %></div>
        <div class="right sliding">
          <p class="link open-panel">　</p>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-block">
        <div style="width: 200px; margin: 20px auto; padding-top: 50px; text-align: center;">
          <p>チーム ISHALAN</p>
          <a href="https://twitter.com/natsumeg_k" style="color: #333;">夏目和樹　</a>
          <a href="https://twitter.com/takahide_h" style="color: #333;">　細川貴英</a>
        </div>
      </div>
      <div class="footer">
        <p>2015 ISHALAN All Rights Researved</p>
        <a href="/kiyaku.txt">　利用規約</a>
        <a href="/contact">　お問い合わせ</a>
        <a href="/aboutus">　運営団体　</a>
      </div>
    </div>
  </div>
</div>
