<%= header %>
<div class="content-block">
  <form action="search" method="get">
    <div class="list-block">
      <ul>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">駅名</div>
            <div class="item-input">
              <input type="text" placeholder="例) 渋谷" class="station" name="s" autocomplete="off">
            </div>
          </div>
        </div>
        </li>
        <div class="suggest"></div>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">科目</div>
            <div class="item-input">
              <select class="department" name="d">
                <% @departments.each do |d| %>
                  <option><%= d %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        </li>
      </ul>
      <input class="search" type="submit" value="検索">
    </div>
  </form>
  <div class="seo">
    <%= link_to "駅名から探す", :stations_top %>
  </div>
</div>
<%= footer %>
