<div class="panel-overlay"></div>

<div class="views">
  <div class="view view-main">
    <div class="page-content">
      <div class="content-block">
        <div style="width: 80%; margin: 0 auto;">
          <a href="/users/auth/facebook"><p class="fb-button">Facebookログイン</p></a>
        <p>※これは、アプリにFacebookでの投稿を許可するものではありませんので、無断でFacebookに投稿されることはありません。</p>
        </div>
      </div>
    </div>
  </div>
</div>
