<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <ul class="menu">
      <li id="1" class="open-popup border">メニュー</li>
      <li id="2" class="open-popup border">メニュー</li>
      <li id="3" class="open-popup border">メニュー</li>
    </ul>
  </div>
</div>

<div class="views" style="background: #fff;">
  <div class="view view-main">
    <div class="page-content">
      <div class="content-block">
        <div class="list-block">
          <ul>
            <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">ジャンル</div>
                <div class="item-input">
                  <input class="department" type="text" placeholder="例) 2">
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">病院名</div>
                <div class="item-input">
                  <input class="doctor" type="text" placeholder="例) えだがわ眼科">
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">最寄駅</div>
                <div class="item-input">
                  <input class="location" type="text" placeholder="例) 渋谷">
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">評価</div>
                <div class="item-input">
                  <input class="rating" type="text" placeholder="例) 1">
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">コメント</div>
                <div class="item-input">
                  <textarea class="comment" placeholder="丁寧に話を聞いてくれました。" col="100" style="font-size: 90%; max-width: 100%;"></textarea>
                </div>
              </div>
            </div>
            </li>
            <p class="my-button submit">送信</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
