<table border>
  <tr>
    <th>Before</th>
    <th>After</th>
  </tr>
  <% @departments.each do |d| %>
    <tr>
      <th><%= d.name %></th>
      <th><input id="<%= d.id %>" value="<%= d.canon %>"></th>
    </tr>
  <% end %>
</table>

<script>
$("input").blur(function() {
    var id = $(this).attr("id");
    var url = "/admin/departments/update?id=" + id + "&canon=" + $(this).val();
    $.ajax({
        type: "GET",
        url: url
    });
});
</script>
