      <div class="footer">
        <p>2015 ISHALAN All Rights Reserved</p>
        <a href="/kiyaku.txt">　利用規約</a>
        <a href="/contact">　お問い合わせ</a>
        <a href="/aboutus">　運営団体　</a>
      </div>
    </div>
  </div>
</div>
