<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="list-block">
    <ul class="menu">
    </ul>
  </div>
</div>

<div class="views">
  <div class="view view-main" style="background: #fff;">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left open-panel">
          <p class="link open-panel">　</p>
        </div>

        <div class="center sliding logo"><%= image_tag "ishalan.png", width: "160" %></div>
        <div class="right sliding">
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-block">
        <%= page_entries_info @stations %>
        <% @stations.each do |s| %>
          <p><%= s.name %></p>
        <% end%>
        <%= paginate @stations %>
      </div>
      <div class="footer">
        <p>2015 ISHALAN All Rights Reserved</p>
        <a href="/kiyaku.txt">　利用規約</a>
        <a href="/contact">　お問い合わせ</a>
        <a href="/aboutus">　運営団体　</a>
      </div>
    </div>
  </div>
</div>

