<%- header %>
<div class="content-block">
  <div class="list-block">
    <p class="popup-title">お問い合わせフォーム</p>
    <ul class="popup-list">
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">お名前<span class="ast">*</span></div>
          <div class="item-input">
            <input class="name" type="text" placeholder="例) 山田太郎">
          </div>
        </div>
      </div>
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title label">メールアドレス<span class="ast">*</span></div>
          <div class="item-input">
            <input class="email" type="text" placeholder="例) yamada@ishalan.com">
          </div>
        </div>
      </div>
      </li>
      <li>
      <div class="item-content">
        <div class="item-inner item-inner-last">
          <div class="item-title label">お問い合わせ内容<span class="ast">*</span></div>
          <div class="item-input">
            <textarea class="message" col="100" placeholder="ここに問い合わせ内容を入力してください。"></textarea>
          </div>
        </div>
      </div>
      </li>
      <p class="my-button green contact-submit">送信</p>
    </ul>
  </div>
</div>
<%= footer %>
