.fb-button {
  background: #3B5998;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  &:active {
    opacity: .9;
  }
}

.my-button {
  color: #fff;
  width: 80%;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  &.green {
    background: #0a0;
  }
  &.red {
    background: #a44;
  }
  &:active {
    opacity: .9;
  }
}

.top-button {
  background: #f88;
  color: #fff;
  width: 100%;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  &:active {
    opacity: .9;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 170%;
  padding: 10px 20px;
}

.popup-title {
  margin: 0 15px 20px;
  padding-top: 20px;
}

.ast {
  color: #a00;
  margin-left: 3px;
  margin-right: 3px;
}

.comment {
  max-width: 100%;
}

.list-block .item-inner-last:after {
  background: #fff;
}

.list-block ul:after {
  background: #fff;
}

.pointer {
  cursor: pointer;
}

.panel-left {
  background: #f88;
  .menu {
    li {
      background: #f88;
      color: #fff;
      padding: 20px;
      border-bottom: solid 1px #fff;
      font-size: 80%;
      cursor: pointer;
    }
  }
}

.list-block ul:before {
  background: #fff;
}

.list-block ul:after {
  background: rgba(0, 0, 0, 0);
}

.content-block {
  width: 90%;
  margin: 90px auto;
}

.navbar {
  height: 70px;
}

.fb-picture {
  margin-top: 3px;
  border-radius: 25px;
  cursor: pointer;
}

.top-title {
  font-size: 110%;
}

.department-selector {
  width: 100%;
  margin: 30px auto 40px;
  select {
    color: #fff;
    width: 150px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #f88;
    float: right;
    padding-left: 10px;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    vertical-align: middle;
  }
}

.popover {
  width: 70%;
  background: rgba(255, 255, 255, .9);
}
