@import "colors";

.pagination {
  margin-top: 20px;
  text-align: center;
  span {
    padding: 5px;
    position: relative;
    background: #fff;
  }
  a {
    color: $ishalan;
  }
}

.station-name {
  color: #333;
  padding: 1px;
  li {
    border: solid 1px #999;
  }
}


.circle-button-area {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 15px;
  .circle-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: $ishalan;
    color: #fff;
    font-size: 225%;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    cursor: pointer;
    &:active {
      opacity: .9;
    }
  }
}

.top-content-block {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.logo-back {
  background: $ishalan;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 6px;
}

.top-back {
  margin-top: 70px;
  padding: 20px;
  background-image: image-url("top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  .top-box {
    background: rgba(0, 0, 0, .25);
    color: #fff;
    padding: 30px;
    .search-box {
      color: #333;
      position: relative;
      ul {
      background: rgba(255, 255, 255, .85);
      }
      .search {
        -webkit-appearance: none;
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        font-size: 110%;
        background: $ishalan;
        color: #fff;
        border-style: none;
        cursor: pointer;
        border-radius: 10px;
      }
      .suggest {
        position: absolute;
        z-index: 999;
        width: 100%;
        background: #fff;
        .suggest-option {
          cursor: pointer;
          padding-left: 15px;
        }
      }
    }
    .fb-area {
      width: 100%;
      margin: 0 auto;
      .big {
        font-size: 168%;
      }
    }
  }
}

.how-to {
  padding-top: 30px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
  .how-to-img {
    width: 130px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  p {
    color: #333;
    line-height: 170%;
    width: 270px;
    margin: 10px auto;
    padding-bottom: 30px;
    &.title {
      margin-top: 30px;
      color: $ishalan;
      font-size: 130%;
      font-weight: bold;
      line-height: 120%;
    }
  }
}

.fb-button {
  background: #3B5998;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  &:active {
    opacity: .9;
  }
}

.friend_pic {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.footer {
  clear: both;
  text-align: center;
  padding-bottom: 40px;
  p {
    color: #888;
  }
  a {
    color: $ishalan;
  }
}

.seo {
  text-align: center;
  a {
    color: $ishalan;
  }
}

.result-title {
  .back-to-top {
    color: $ishalan;
    font-weight: normal;
    margin-left: 20px;
  }
}

.clinic-button {
  width: 96%;
  margin: 0 auto;
  background: $ishalan;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
}

h3 {
  margin-top: 50px;
}

// framework7のcssを上書き
.list-block.media-list .item-link .item-title-row, .list-block li.media-item .item-link .item-title-row {
  background-image: none;
}


@media only screen and (min-width: 500px) {
  .top-back {
    .top-box {
      .fb-area {
        width: 400px;
      }
    }
  }
}


@media only screen and (min-width: 900px) {
  .how-to {
    .step {
      padding: 10px;
      width: 30%;
      display: inline-block;
      height: 400px;
      .how-to-img {
        img {
          width: 100%;
        }
      }
      p {
      }
    }
  }
}
