.fb-button {
  background: #3B5998;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  &:active {
    opacity: .9;
  }
}

.friend_pic {
  border-radius: 5px;
}



// framework7のcssを上書き
.list-block.media-list .item-link .item-title-row, .list-block li.media-item .item-link .item-title-row {
  background-image: none;
}
