.top-content-block {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.logo-back {
  background: rgb(162, 0, 0);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 6px;
}

.top-back {
  padding: 20px;
  background-image: image-url("top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-position: center; 
  .top-box {
    background: rgba(0, 0, 0, .25);
    color: #fff;
    padding: 30px;
    .fb-area {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.how-to {
  padding-top: 30px;
  padding-bottom: 20px;
  background: rgb(162, 0, 0);
  .how-to-img {
    width: 130px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  p {
    color: #fff;
    line-height: 170%;
    width: 270px;
    margin: 10px auto;
    padding-bottom: 30px;
  }
}

.fb-button {
  background: #3B5998;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  &:active {
    opacity: .9;
  }
}

.friend_pic {
  border-radius: 5px;
}

.footer {
  clear: both;
  text-align: center;
  padding-bottom: 30px;
  a {
    color: rgb(209, 0, 32);
  }
}



// framework7のcssを上書き
.list-block.media-list .item-link .item-title-row, .list-block li.media-item .item-link .item-title-row {
  background-image: none;
}


@media only screen and (min-width: 500px) {
  .top-back {
    .top-box {
      .fb-area {
        width: 400px;
      }
    }
  }
}


@media only screen and (min-width: 900px) {
  .top-content-block {
    background: rgb(162, 0, 0);
  }
  .how-to {
    width: 94%;
    margin: 0 auto;
    .step {
      padding: 10px;
      width: 30%;
      display: inline-block;
      height: 400px;
      .how-to-img {
        img {
          width: 100%;
        }
      }
      p {
      }
    }
  }
}
