<!DOCTYPE html>
<html>
<head>
  <title>ISHALAN（イシャラン）</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="description" content="ISHALAN（イシャラン）は友達の口コミで探せる、病院検索サービスです" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>
<%= yield %>
</body>
</html>
