<!DOCTYPE html>
<html>
<head>
  <title>ISHALAN</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="ISHALAN（イシャラン）">
  <meta property="og:type" content="article">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://ishalan.com">
  <meta property="og:image" content="http://ishalan.com">
  <meta property="og:site_name" content="ISHALAN（イシャラン）">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="/my-app.js"></script>

</body>
</html>
